src/jogos.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Jogos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Lista" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Data"/>
              <xs:element type="xs:string" name="Competição"/>
              <xs:element type="xs:string" name="Adversário"/>
              <xs:element type="xs:string" name="Local"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>